footer{
    height:50px;
    width:100%;
    position:fixed;
    bottom:0px;
}
.img-container{
    margin:70px auto;
    width:250px;
    height:250px;
    border-radius: 50%;
}
.player-icon{
    width:100%;
    height:100%;
    border-radius: 50%;
    border:1px solid black;
}
.text-container{
    margin:0 auto;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border:1px solid black;
    border-radius: 25px;
    width:300px;
    background-color: white;
}
.player-price{
    color:gray;
}
body{
    background-color: #f8ceec;
    background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
}